@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('../fonts/MyriadPro-Semibold.eot');
    src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Semibold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Semibold.woff') format('woff'),
        url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

$myriad: 'Myriad Pro';
$myriad-l: 'Myriad Pro Light';
$myriad-b: 'Myriad Pro Bold'; 
$white: #fff;


.nopadding{
    padding: 0;
}

.nopadding-left{
    padding-left: 0;
}

strong{
    font-family: $myriad-b !important;
}

.supercont__asus{ 
    min-height: 1000px;
    .cont__slide1{
        position: relative;
        background-image: url('../images/slide1-bg-asus.jpg');
        background-repeat: no-repeat;
        background-size: auto 100%;
        img.bg_slide1{
            width: 100%;
            position: absolute;
        }
        .vivoBook{
            text-align: center;
            padding-bottom: 250px;
            // .left{}

            .right{
                position: relative;
                .logo_asus{
                    width: 100%;
                    height: 55px;
                    margin-top: 20px;
                    padding-right: 25px;
                    img{
                        float: right;
                    }
                }

                .label{
                    padding-top: 40px;
                    .procesadores{
                        font-family: $myriad-b;
                        color: $white;
                        font-size: 20px;
                    }

                    a{
                        width: 290px;
                        padding: 15px 0;
                        border: solid 4px $white;
                        border-radius: 20px;
                        font-family: $myriad-b;
                        font-size: 32px;
                        color: $white;
                        margin: 35px auto 0;
                    }

                    & > img{
                        width: 95%;
                        display: block;
                        margin: 0 auto;
                    }
                }

                .intel-logo{
                    position: absolute;
                    right: 0px;
                    bottom: -60px;
                    padding-right: 25px;
                }

                .fix-height{
                    height: 230px;
                    width: 100%;
                }
            }
        }

        @media screen and (min-width: 1800px) {
            background-image: url('../images/slide1-bg-asus.jpg');
            background-size: 100% auto;
        }
    }

    .cont__slide2{
        position: relative;
        background-image: url('../images/slide2-bg-asus.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        @media screen and (min-width: 769px) {
            background-size: auto 100%;
        }

        @media screen and (min-width: 1800px) { 
            background-size: 100% auto;
        }
        .selfie-pro{
            .left{
                padding: 65px 0 0;
                .cont_title{
                    img{
                        display: block;
                        margin: 0 auto;
                    }

                    .selfie-pro-img{
                        max-width: 600px;
                    }

                    .four-cameras-img{
                        margin-top: 35px;
                        max-width: 550px;
                    }
                }

                .cont_characteristics{
                    margin-top: 85px;
                    .minicont_caract{
                        display: inline-block;
                        width: 100%;
                        padding-left: 12%;
                        margin-bottom: 45px;
                        div{
                            display: inline-block;
                        }

                        p{
                            font-family: $myriad;
                            font-size: 32px;
                            padding-left: 15px;
                        }

                        .icons{
                            width: 130px;
                            img{
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }

            .right{
                position: relative;
                padding-right: 25px;
                padding-top: 50px;
                img{
                    float: right;
                    @media (max-width: 400px) {
                        display: none;
                    }
                }
            }

            a{
                width: 290px;
                text-align: center;
                padding: 15px 0;
                border: solid 4px #000;
                border-radius: 20px;
                font-family: $myriad-b;
                font-size: 32px;
                color: #000;
                margin: 0 auto 35px;
            }
        }
    }

    .cont__slide3{
        .promotion{
            .left{
                padding-left: 35px;
                padding-top: 70px;
                h3{
                    font-family: $myriad-b;
                    font-size: 30px;
                    margin-bottom: 5px; 
                }

                ul{
                    padding-left: 35px;
                    h4{
                        font-size: 26px;
                        font-family: $myriad;
                        margin-bottom: 5px;
                    }

                    li{
                        padding-left: 30px;
                        font-size: 22px; 
                        font-family: $myriad;
                        p{
                            padding-left: 25px;
                            font-size: 18px;
                        }
                    }
                }

                ul:last-child{
                    margin-top: 60px;
                }
            }

            .right{
                .cont-title{
                    margin-top: 50px;
                    width: 100%;
                    margin-bottom: 15px;
                    background-color: #343434;
                    h3{
                        color: $white;
                        text-align: center;
                        font-family: $myriad-b;
                        font-size: 30px; 
                    }
                }

                .promo-left{
                    padding-right: 5px;
                    @media (max-width: 450px) {
                        padding-right: 0px;
                    }
                    div{
                        margin-bottom: 10px;    
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .promo-right{
                    padding-left: 5px;
                    @media (max-width: 450px) {
                        padding-left: 0px;
                    }
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    .cont__slide4{
        .promotion-row{
            .cont-title{
                margin-top: 20px;
                width: 100%;
                background-color: #343434;
                h3{
                    color: $white;
                    text-align: center;
                    font-family: $myriad-b;
                    font-size: 30px;  
                }
            }

            .supercont_products{
                background-color: #f2f2f2;
                .cont_products{
                    padding: 30px 15px;
                    .product{ 
                        padding-top: 15px;
                        padding-bottom: 15px;
                        div{
                            min-height: 350px;
                            background-color: #fff;
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.supercont__vivobook{
    .wrapper{
        .center{
            .vivoBook{
                .left{
                    overflow: hidden;
                    height: 600px;
                    @media screen and (max-width: 991px) {
                        height: auto;
                    }
                    img{
                        height: auto;
                        width: 100%;
                        float: right;
                        padding-right: 20px;
                        @media screen and (max-width: 991px) {
                            padding-right: 0px;
                        }
                    } 

                    @media screen and (max-width: 991px) {
                        &:before{
                            content: ''; 
                            width: 100%;
                            height: 50px;
                            position: absolute;
                            bottom: 0;
                            display: inline-block;
                            background: rgba(255,255,255,0);
                            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.38) 30%, rgba(255,255,255,0.6) 47%, rgba(255,255,255,0.82) 64%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 88%);
                            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0.38)), color-stop(47%, rgba(255,255,255,0.6)), color-stop(64%, rgba(255,255,255,0.82)), color-stop(78%, rgba(255,255,255,1)), color-stop(88%, rgba(255,255,255,1)));
                            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.38) 30%, rgba(255,255,255,0.6) 47%, rgba(255,255,255,0.82) 64%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 88%);
                            background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.38) 30%, rgba(255,255,255,0.6) 47%, rgba(255,255,255,0.82) 64%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 88%);
                            background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.38) 30%, rgba(255,255,255,0.6) 47%, rgba(255,255,255,0.82) 64%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 88%);
                            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.38) 30%, rgba(255,255,255,0.6) 47%, rgba(255,255,255,0.82) 64%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 88%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
                        }
                    }
                }

                .right{
                    height: 600px;
                    @media screen and (max-width: 991px) {
                        height: auto;
                    }
                    h2{
                        margin-top: 50px;
                        img{
                            display: block;
                            margin: 0 auto;
                            width: 250px;
                        }
                    }

                    .pc-img{
                        position: relative;
                        margin: 30px 0;
                        .pc{
                            width: 300px;
                            display: block;
                            margin: 0 auto;
                        }

                        .intel{
                            position: absolute;
                            width: 50px;
                        }
                    }

                    h3{
                        line-height: 1.2;
                        font-family: $myriad-l;
                        font-size: 20px !important;
                        text-align: center;
                        margin-bottom: 30px;
                    }

                    p{
                        text-align: center;
                        font-size: 18px;
                        font-family: $myriad-l;
                        max-width: 500px;
                        margin: 0 auto;
                    }

                    a{
                        font-size: 20px;
                        text-align: center;
                        width: 200px;
                        display: block;
                        // margin: 0 auto;
                        padding: 10px 0;
                        border: solid #000 1px;
                        border-radius: 5px;
                        margin: 40px auto 20px;
                        @media screen and (max-width: 991px) {
                            margin: 20px auto 35px;
                        }
                    }
                }

                .cont_vivobook{
                    .right{ 
                        .pc-img{
                            .intel{
                                right: 35%;
                                top: 20%;
                                @media screen and (max-width: 991px) {
                                    right: 20%;
                                }
                            }
                        }
                    }
                }

                .cont_vivobooks{
                    .left{
                        img{
                            float: left !important;
                            padding-left: 20px;
                            @media screen and (max-width: 991px) {
                                padding-left: 0px;
                            }
                        }
                    }

                    .right{ 
                        .pc-img{
                            .intel{
                                left: 30%;
                                top: 20%;
                                @media screen and (max-width: 991px) {
                                    left: 20%;
                                }
                            }
                        }
                    }
                }

                .cont_vivobookflip{
                    .right{ 
                        .pc-img{
                            .pc{
                                width: 220px;
                            }

                            .intel{
                                right: 25%;
                                top: 20%;
                                @media screen and (max-width: 991px) {
                                    right: 5%;
                                }
                            }
                        }
                    }
                }

                .tyc{
                    font-size: 10px;
                    font-family: $myriad-b;
                    text-align: center;
                    margin: 20px;
                }
            }
        }
    }
}

.supercont__selfiepro{
    .section__1{
        .center{
            .cont_section1{
                .asus-logo-2{
                    display: none;
                    @media screen and (max-width: 680px) {
                        display: inline-block;
                        margin: 30px 0px 50px 0px;
                        img{
                            width: 80px; 
                            float: right;
                        }
                    }
                }

                .left{
                    .asus-logo{
                        margin: 80px 0px 50px 35px;
                        img{
                            width: 130px;
                            height: auto;
                        }
                        @media screen and (max-width: 680px) {
                            margin: 80px 35px 50px 0px;
                            display: none;
                            img{
                                width: 80px;
                            }
                        }
                    }

                    h2{
                        margin-left: 35px;
                        color: #e83f0b;
                        font-size: 30px;
                        font-family: $myriad-b;
                        img{
                            width: 65px;
                            display: inline-block;
                        }
                        
                        span{
                            padding-left: 15px;
                        }

                        @media screen and (max-width: 680px) {
                            margin-left: 0;
                            font-size: 15px;
                            margin-bottom: 30px;
                            img{
                                width: 40px;
                                display: block; 
                                margin: 0 auto;
                            } 

                            span{
                                padding-left: 5px;
                                width: 100%;
                                text-align: center;
                            }
                        } 
                    }

                    & > p{
                       font-family: $myriad-l;
                       font-size: 16px;
                       color: #3f3b3a;
                       text-align: left;
                       margin-top: 40px;
                       //padding: 0 25px;
                       @media screen and (max-width: 680px) {
                            display: none;
                        } 
                    }

                    .grid-inter{
                        p{
                            font-size: 80px;
                            color: #e83f0b;
                            font-family: $myriad-b; 
                            small{
                                font-size: 40px;
                            }
                        }

                        div{
                            font-family: $myriad-l;
                            font-size: 14px;
                            color: #3f3b3a;
                            text-align: center;
                        }
                        @media screen and (max-width: 680px) {
                            padding: 0;
                            p{
                                text-align: center;
                                font-size: 30px;
                                small{
                                    font-size: 15px; 
                                }
                            }

                            div{
                                font-size: 10px;
                            }
                        }
                    }

                    @media screen and (max-width: 680px) {
                        padding: 0;
                    }
                }

                .right{
                    height: 700px;
                    padding-top: 30px;
                    img{
                        height: 100%;
                        float: right;
                    }

                    @media screen and (max-width: 680px) {
                        height: 330px;
                        img{
                            float: left;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 680px) {
            overflow: hidden;
        }
    }

    .section__2{
        background-color: #4bbcba;
        .center{
            .cont_section2{
                position: relative;
                overflow: hidden;
                .brush{
                    position: absolute;
                    width: 900px;
                    left: calc(50% - 500px);
                    top: -50px;
                    @media screen and (max-width: 680px) {
                        position: absolute;
                        width: 600px;
                        left: calc(50% - 300px);
                        top: 40px;
                    }
                }

                .right{
                    padding: 100px 0 130px;
                    h2{
                        text-align: center;
                        margin-left: -55px;
                        color: #fff;
                        font-size: 30px;
                        font-family: $myriad-b;
                        img{
                            width: 65px;
                            display: inline-block;
                        }

                        span{
                            padding-left: 15px;
                        }

                        @media screen and (max-width: 680px) {
                            margin-left: 0;
                            font-size: 15px;
                            img{
                                width: 40px;
                                display: block; 
                                margin: 0 auto;
                            } 

                            span{
                                padding-left: 5px;
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }

                    h3{
                        text-align: center;
                        font-size: 35px;
                        font-family: $myriad-b; 
                        color: #fff;
                        @media screen and (max-width: 680px) {
                            font-size: 18px;
                            line-height: 1.2;
                            margin-top: 10px;
                        }
                    }

                    & > p{
                        font-family: $myriad-l;
                        font-size: 16px;
                        color: #3f3b3a;
                        margin: 25px 0;
                        text-align: center;
                        padding: 0 15%;
                    }

                    .grid-inter{
                        p{
                            text-align: center;
                            font-size: 80px;
                            color: #fff;
                            font-family: $myriad-b; 
                            small{
                                font-size: 40px;
                            }
                        }

                        div{
                            font-family: $myriad-l;
                            font-size: 14px;
                            color: #fff;
                            text-align: center;
                        }

                        img{
                            display: block;
                            margin: 0 auto;
                            padding: 15px 0 10px;
                        }

                        &.lastone{
                            margin-top: -10px;
                        }

                        @media screen and (max-width: 680px) {
                            padding: 0;
                            p{
                                text-align: center;
                                font-size: 30px;
                                small{
                                    font-size: 15px; 
                                }
                            }

                            div{
                                font-size: 10px;
                            }

                            img{
                                width: 60px;
                                padding: 0px 0 8px;
                            }

                            &.lastone{
                                margin-top: 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    .section__3{
        position: relative;
        .center{
            .cont_section3{
                padding-top: 350px;
                .img-out{
                    position: absolute;
                    top: -85px; 
                    width: 600px;
                    left: calc(50% - 300px); 
                }

                .img-out-two{
                    position: absolute;
                    top: 0;
                    margin-top: -260px;
                    right: 80px;
                    z-index: 100; 
                }

                .left{
                    padding-left: 50px;
                    .img-title{
                        margin-bottom: 50px;
                        img{
                            width: 450px;
                        }

                        @media screen and (max-width: 680px) {
                            display: none;
                            img{
                                width: 200px;
                            }
                        }
                    }

                    h2{
                        color: #e83f0b;
                        font-size: 30px;
                        font-family: $myriad-b;
                        img{
                            width: 65px;
                            display: inline-block;
                        }
                        
                        span{
                            padding-left: 15px;
                        }

                        @media screen and (max-width: 680px) {
                            margin-left: 0;
                            font-size: 15px;
                            img{
                                width: 40px;
                                display: block; 
                                margin: 0 auto;
                            } 

                            span{
                                padding-left: 5px;
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }

                    h3{
                        margin-top: 20px;   
                        font-family: $myriad-b;
                        font-size: 40px;
                        color: #3f3b3a;
                        @media screen and (max-width: 680px) {
                            font-size: 20px;
                            text-align: center;
                            margin-top: 0;  
                        }
                    }

                    & > p{
                        width: 70%;
                        font-family: $myriad-l;
                        font-size: 16px;
                        color: #3f3b3a;
                        text-align: left;
                        margin-top: 40px;
                        @media screen and (max-width: 680px) {
                            width: 100%;
                            text-align: center;  
                        }
                    }

                    .hide-cellphone{
                        @media screen and (max-width: 680px) {
                            display: block !important;
                            width: 60%;
                            margin: 30px auto;
                        }
                    }

                    .hide-title{
                        @media screen and (max-width: 680px) {
                            display: block !important;
                            img{
                                width: 60%;
                                margin: 30px auto;
                            }
                        }
                    }

                    .grid-inter{
                        margin-top: 30px;
                        margin-bottom: 80px;
                        p{
                            text-align: center;
                            font-size: 80px;
                            color: #e83f0b;
                            font-family: $myriad-b; 
                            small{
                                font-size: 40px;
                            }
                        }

                        div{
                            font-family: $myriad-l;
                            font-size: 14px;
                            color: #3f3b3a;
                            text-align: center;
                        }

                        @media screen and (max-width: 680px) {
                            padding: 0;
                            p{
                                text-align: center;
                                font-size: 30px;
                                small{
                                    font-size: 15px; 
                                }
                            }

                            div{
                                font-size: 10px;
                            }

                            img{
                                width: 60px;
                                padding: 0px 0 8px;
                            }

                            &.lastone{
                                margin-top: 0px;
                            }
                        }
                    }
                }

                .right{
                    padding-top: 150px;
                    img{
                        width: 100%;
                        vertical-align: middle;
                        @media screen and (max-width: 680px){
                            display: none;
                        }
                        
                    }
                }

                @media screen and (max-width: 680px) {
                    padding-top: 120px;
                    .img-out{
                        width: 200px;
                        left: calc(50% - 100px);
                        top: -40px;
                    }

                    .img-out-two{
                        width: 140px;
                        margin-top: -55px;
                        right: -10px;
                        // left: calc(50% - 100px);
                        // top: -40px;
                    }
                }
            }
        }
    }
}

.supercont__zf5z{
    margin-top: 50px;
    .section__1{
        position: relative;
        .bg_color{
            position: absolute;
            top: 0;
            width: 100%;
            .purple{
                background-color: #414a9d;
                height: 800px;
                position: relative;
                &:before{
                    content: '';
                    width: calc(100% + 5px);
                    height: 100px;
                    background-image: url('../images/p4-row1-zf5z-triangule.png');
                    background-size: 100% auto;
                    position: absolute;
                    bottom: -99px;
                    left: -3px;
                    background-repeat: no-repeat;
                }

                // &:before{
                //     content: '';
                //     width: 0;
                //     height: 0;
                //     border-style: solid;
                //     border-width: 100px 1270px 0 0;
                //     border-color: #414a9d transparent transparent transparent;
                //     position: absolute;
                //     bottom: -100px;
                //     left: 0; 
                // }
                @media screen and (max-width: 680px) {
                    height: 580px;
                    &:before{
                        left: 0px; 
                    }
                }
            }

            .white{
                background-color: #fff;
                height: 800px;
            }
        }

        .center{
            .cont_section1{
                .black_logo{
                    display: none;
                    @media screen and (max-width: 680px) {
                        display: block;
                    }
                }
                .left{
                    padding: 50px 0 0 50px;
                    .logo-asus{
                        margin-bottom: 100px;
                        img{
                            width: 150px;
                        }
                    }

                    .cont-title{
                        img{
                            width: 50px;
                            display: block;
                            margin: 0 auto;
                        }

                        h2{
                            font-family: $myriad-b;
                            font-size: 32px;
                            text-align: center;
                            color: #fff;
                            margin-top: 10px;
                        }
                    }

                    & > p{
                        font-family: $myriad-l;
                        color: #fff;
                        font-size: 18px;
                        text-align: center;
                        width: 650px;
                        display: block;
                        margin: 30px auto;
                    }

                    .grid-inter{
                        margin-top: 100px;
                        img{
                            display: block;
                            width: 50px;
                            margin: 0 auto;
                        }

                        .sub-text{
                            text-align: center;
                            color: #fff;
                            font-family: $myriad-l;
                            font-size: 15px;
                            margin-top: 10px;
                        }
                    }

                    @media screen and (max-width: 680px) {
                        padding: 50px 0 0 15px;
                        .logo-asus{
                            margin-bottom: 60px;
                            img{
                                display: none;
                            }
                        }

                        .cont-title{
                            img{
                                width: 30px;
                            }
    
                            h2{
                                font-size: 22px;
                                margin-top: 10px;
                                padding: 0 30px;
                                line-height: 1;
                            }
                        }

                        & > p{
                            font-size: 14px;
                            width: auto;
                            display: block;
                            margin: 30px auto;
                            padding: 0 30px;
                        }

                        .grid-inter{
                            display: none;
                        }
                    }
                }

                .right{
                    padding-top: 50px;
                    img.cellphone{
                        margin-left: -50px;
                        width: 350px;
                        height: auto;
                    }

                    @media screen and (max-width: 680px) {
                        padding: 0;
                        min-height: 450px;  
                        img.cellphone{
                            width: 150px; 
                            margin-left: -20px;
                        }

                        img.black_logo{
                            width: 100px;
                            float: right;
                            margin-bottom: 30px;
                        }
                    }
                }

                .mobile-grid{
                    display: none;
                }

                .mobile-grid.grid-inter{
                    margin-top: 0px;
                    img{
                        display: block;
                        width: 50px;
                        margin: 0 auto;
                    }

                    .sub-text{
                        text-align: center;
                        color: #fff;
                        font-family: $myriad-l;
                        font-size: 15px;
                        margin-top: 10px;
                    }
                }

                @media screen and (max-width: 680px) {
                    padding: 0;
                    .mobile-grid{
                        display: block;
                        &:last-child{
                            img{
                                -webkit-filter: contrast(0);
                                filter: contrast(0);
                            }

                            .sub-text{
                                color: #000;
                                
                            }
                        }

                        .sub-text{
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
    }

    .section__2{
        .center{
            .cont_section2{
                margin: 20% 0;
                .left{
                    h2{
                        font-size: 40px;
                        font-family: $myriad-l;
                        color: #000;
                    }

                    p{
                        margin-top: 30px;
                        font-size: 16px; 
                    }
                }

                .right{
                    position: relative;
                    min-height: 180px;
                    img{
                        width: 800px;
                        height: auto;
                        float: right;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }

                .center{
                    min-width: initial;
                    .grid-inter{
                        p{
                            text-align: center;
                            font-size: 80px;
                            color: #444bb5;
                            font-family: $myriad-b; 
                            small{
                                font-size: 40px;
                            }
                        }

                        div{
                            font-family: $myriad-l;
                            font-size: 14px;
                            color: #3f3b3a;
                            text-align: center;
                        }
                        @media screen and (max-width: 680px) {
                            padding: 0;
                            p{
                                text-align: center;
                                font-size: 30px;
                                small{
                                    font-size: 15px; 
                                }
                            }

                            div{
                                font-size: 10px;
                            }
                        }
                    }
                }

                @media screen and (max-width: 680px) {
                    .left{
                        h2{
                            font-size: 30px;
                            text-align: center;
                        }

                        p{
                            text-align: center;
                            font-size: 15px; 
                        }
                    }

                    .right{
                        margin-top: 10px;   
                        min-height: 180px;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .section__3{
        background-color: #ff9900;
        &:before{
            content: '';
            width: 100%;
            height: 180px;
            background-image: url('../images/p4-row3-zf5z-triangule.png');
            background-size: auto 100%;
            position: absolute;
            top: -178px;
            left: 0;
            background-repeat: no-repeat;
        }
        .center{
            .cont_section3{
                .left{
                    position: relative;
                    & > div{
                        position: absolute;
                        font-size: 44px;
                        color: #fff;
                        text-align: center;
                        font-family: $myriad;
                        line-height: 1;
                        float: left;
                        span{
                            font-size: 100px;
                        }
                    }

                    img{
                        width: 660px;
                        height: auto;
                    }
                }

                .right{
                    padding-top: 150px;
                    .cont_title{
                        width: 350px;
                        & > div{
                            text-align: center;
                            font-family: $myriad-l;
                            color: #fff;
                            font-size: 40px;
                            margin-bottom: 20px;
                        }
    
                        img{
                            width: 300px;
                            height: auto;
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 680px) {
            &:before{
                content: '';
                width: 100%;
                height: 180px;
                background-image: url('../images/p4-row3-zf5z-triangule.png');
                background-size: auto 100%;
                position: absolute;
                top: -39px;
                left: 0;
                background-repeat: no-repeat;
            }

            .cont_section3{
                .left{
                    & > div{
                        font-size: 20px !important;
                        span{
                            font-size: 50px !important;
                        }
                    }

                    img{
                        width: 100% !important;
                        margin-top: 30px; 
                    }
                }

                .right{
                    padding-top: 0 !important;
                    margin-bottom: 30px;
                    .cont_title{
                        width: 100% !important;
                        & > div{
                            font-size: 25px !important;
                        }
    
                        img{
                            width: 120px !important;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .wrapper, .center{
        min-width: initial !important;
    }

    .row{
        margin: 0;
    }

    .container{
        width: 100% !important;
    }

    .supercont__asus {
        .cont__slide1 {
            background-image: url('../images/slide1-bg-asus-mobile.png');
            background-size: cover;
            .vivoBook {
                padding:  0;height: 550px;
                .right {
                    .logo_asus {
                        img {
                            width:  150px;
                            height:  auto;
                            filter: brightness(0%);
                            -webkit-filter: brightness(0%);
                            -moz-filter: brightness(0%);
                        }
                    }

                    .label {
                        padding-top: 320px;
                        img {
                            width: 290px;
                        }

                        .procesadores {
                            font-size:  16px;
                        }

                        a{
                            width:  160px;
                            font-size:  22px;
                            border: solid 2px;
                            margin-top: 10px;
                            padding: 10px 0;
                            border-radius: 12px;
                        }
                    } 

                    .intel-logo {
                        width: 120px; 
                        top: 45%;
                        display: none;
                    }
                }
            }
        }

        .cont__slide2 {
            background-size:  auto 100%;
            .selfie-pro {
                position:  relative;
                .left {
                    padding: 18px 0 0;
                    .cont_title {
                        padding-left: 40px;
                        .selfie-pro-img {
                            max-width:  200px;
                            margin:  0;
                        }

                        .four-cameras-img {
                            max-width: 170px;
                            margin:  0;
                            margin-top: 15px;
                            margin-left:  12px;
                        }
                    }

                    .cont_characteristics {
                        margin-top:  20px;
                        .minicont_caract {
                            margin-bottom: 15px;
                            p {
                                font-size:  13px;
                            }

                            div{
                                img{
                                    width: 100%;
                                }
                            }

                            .icons, .icons-m{
                                max-width:  60px;
                            }
                        }
                    }
                }

                .right{
                    position:  absolute;
                    top: 0;
                    right:  0;
                    padding: 15px;
                    img{ 
                        width:  65px;
                    }
                }

                a{
                    width:  132px;
                    font-size:  13px;
                    border: solid 1px #000;
                    padding: 10px 0;
                    border-radius: 12px;
                    margin-bottom:  20px;
                }
            }
        }

        .cont__slide3 .promotion .left {
            display:  none;
        }

        .cont__slide3 .promotion .right .cont-title h3 {
            font-size: 16px;
        }
        
        .cont__slide4 .promotion-row .cont-title h3 {
            font-size:  16px;
        }
    }
}
body.landing-asus{
    .product-shelf-wrapper .pager{
        display: none;
    }
    .box-white{
        padding: 20px;
    }
    .product-item{
        background-color: #fff;
        padding: 20px; 
    }
    .product-item__cart-amount{
        background-color: #fff;
    }
    .loader{
        display: none;
        position: absolute;
        top: 0;
        right: -20px;
        bottom: 0;
        left: -20px;
        z-index: 100;
        background-color: rgba(255,255,255,0.5);
        width: auto;
    }
}
